<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--保证映射文件的命名空间和mapper接口的全类名保持一致-->
<mapper namespace="com.atguigu.spzx.user.mapper.UserRegionMapper">


    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,code,parent_code,name,level,create_time,update_time,is_deleted
    </sql>

    <select id="selectByParentCode" resultType="com.atguigu.spzx.model.entity.base.Region">
        select <include refid="columns" />
        from region where parent_code = #{code}
    </select>
    <select id="selectByCode" resultType="java.lang.String">
        select name
        from region where code = #{code}
    </select>

</mapper>
